:root {
  --primary-color--: #d81c20;
  --bg-color--: rgb(28, 60, 124);
  --bg-color2--: linear-gradient(
    90deg,
    rgba(28, 60, 124, 1) 0%,
    rgba(26, 47, 94, 1) 48%,
    rgba(28, 42, 113, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  position: relative;
}

/* home page  */

.home-container {
  width: 100%;
  height: 100vh;
  background: var(--bg-color--);
  background: var(--bg-color2--);
}
/* header */

.header {
  width: 100%;
  height: 20vh;
  position: relative;
}
.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -50%;
  left: -50px;
  overflow: hidden;
}
.logo .logo-image {
  width: 60%;
  height: 60%;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.logo-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav a {
  transition: all 0.4s ease-in-out;
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
  font-size: 15px;
}
.nav a:hover {
  color: var(--primary-color--);
}
/* landing page */

.home-content-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.image-container {
  position: relative;
  width: 500px;
  height: 100%;
  width: 600px;
}
.image-container .image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 500px;
  height: 60%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title,
.sub-title {
  height: 50%;
  width: 100%;
}
.title h2 {
  font-size: 85px;
  font-weight: 900;
  color: #fff;
}
.sub-title p {
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 200;
}

/* sevices section */

.service-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(226, 226, 226);
}
.service-title-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items:center;
  justify-content:center;
}
.title-content-container{
  width: 180px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title-content-container::after{
  content: "";
  position:absolute;
  left: 0;;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--primary-color--);
}
.title-content-container h3{
  color: #000000;
  letter-spacing:1px;
  font-weight: 500;
}

.service-content-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-content {
  width: 80%;
  height: 90%;
  /* overflow: scroll; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  background-color: #fff;
  width: 200px;
  height: 240px;
  margin: 10px;
  border-radius: 2px;
  transition: all .2s ease-in-out;
  box-shadow: 6px 6px 8px 0px #00000021;
}
.box:hover{
  box-shadow: 1px 1px 8px 6px #00000015;
  transform: scale(1.02);
}
.box .box-content{
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-content .box-icon{
  width: 50%;
  height: 50%;
}
.box-content h5{
  font-size:13px;
  font-weight: 700;
  color:#505050;
}
.box-content .box-icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;

}
.box .readmore-btn{
  width: 100%;
  height: 15%;
  background-color: var(--primary-color--);
  display: flex;
  justify-content:center;
  align-items:center;
}
.readmore-btn a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}



                               /* protflio secton */

      
                               

.protflio-container {
  width: 100%;
  height: 100vh;
  background-color:  rgb(226, 226, 226);
}
.protflio-title-container{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.protflio-title{
  width: 180px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.protflio-title::after{
  content: "";
  position:absolute;
  left: 0;;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--primary-color--);
}
.protflio-title h3{
  color: #000000;
  letter-spacing:1px;
  font-weight: 500;
}
.protflio-sub-title{
  width: 60%;
  margin-top: 5px;
}
.protflio-sub-title p{
  color: #000000;
  text-align: center;
  font-size: 13px;
}
.protflio-content-container{
  width:100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.protflio-box-container{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.protflio-box{
  margin: 15px;
  width: 250px;
  height: 300px;
  background-color:#fff;
  border-radius: 2px;
  overflow: hidden;
}
.protflio-img{
  width: 100%;
  height: 100%;
}
.protflio-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  transition: all .4s ease-in-out;
}

                    /* solution section */


.solutions-container{
  width:100%;
  height: 100vh;
  background-color:  rgb(226, 226, 226);
}
.solutions-title-container{
  width: 100%;
  padding-top: 10px;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.solutions-title{
  width: 180px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.solutions-title::after{
  content: "";
  position:absolute;
  left: 0;;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--primary-color--);
}
.solutions-title h3{
  color: #000000;
  letter-spacing:1px;
  font-weight: 500;
}
.solutions-sub-title{
  width: 60%;
  margin-top: 30px;
}
.solutions-sub-title p{
  color: #000000;
  text-align: center;
  font-size: 13px;
}
.solutions-content-container{
  width: 100%;
  height: 80vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.solutions-content{
  width: 70%;
  height: 90%;
  display:grid;
  grid-template-columns: repeat(auto-fit , 250px);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  align-items: center;
  justify-content: center;
}
.solutions-content img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}


/* contact page desings */





.contact-container{
  height: 100vh;
  width: 100%;
  background-color: rgb(226, 226, 226);
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.contact-title-container{
  width: 600px;
  height: 300px;
}
.contact-title-content{
  width: 180px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-title-content h2{
  font-size: 30px;
  font-weight: 800;
  color: #505050;
}
.contact-title-content::after{
  content: "";
  position:absolute;
  left: 0;;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--primary-color--);
}
.contact-sub-title-content{
  width: 90%;
  margin-top:10px;
  height: 30%;
}
.contact-sub-title-content p{
  text-align: start;
}
.mail{
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.651);
}
.contact-form-container{
  width: 350px;
  height: 400px;
  background-color: #fff;
  border-radius: 2px;
  padding: 15px;
}
.form-title-container{
  width: 100%;
  height: 15%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form-title-container::after{
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: var(--primary-color--);
}
.form-title-container h2{
  font-size: 25px;
  font-weight: 700;
}
.form-input-container{
  padding: 10px;
  padding-top: 30px ;
  width: 100%;
  height: 60%;
}
.form-input-container input{
  width: 100%;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  outline: none;
  border: 1px solid silver;
  padding-left:5px;
  color: rgb(100, 100, 100);
}
.form-input-container label{
  font-size: 13px;
  color: rgb(61, 61, 61);
}
.submit-container {
  height:80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-container button{
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color--);
  border: none;
  color: #fff;
  border-radius: 5px;
}


/* fooooter section */

.footer-container{
  height: 30vh;
  width: 100%;
  background-color: var(--primary-color--);
}
.social-container{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon-container{
  width: 300px;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.social-icon-container i{
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}
.copyright-container{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.copyright-content h4{
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}
.copyright-content span{
  font-weight: 600;
}

@media screen and (max-width:1060px){
  .protflio-container{
    height: 130vh;
  }
}

@media screen and (max-width: 1024px) {
  .title-container {
    width: 400px;
    height: 400px;
  }
  .image-container {
    width: 400px;
    margin-top: 10px;
  }
  .contact-sub-title-content p{
    text-align: center;
  }
}
@media screen and (max-width: 940px){
  .contact-title-container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
  }
  .address-container{
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .contact-title-content h2{
    color: #000000;
    letter-spacing:1px;
    font-weight: 500;
    font-size: 20px;
  }
  .contact-container{
    height: 110vh;
  }
  .contact-sub-title-content p{
    font-size: 10px;
  }
  .contact-form-container{
    width: 320px;
    height:400px;
  }
}
@media screen and (max-width: 820px){
  .service-container {
    height: 140vh;
  }
}
@media screen and (max-width: 810px) {
  .solutions-title-container{
    height: 30vh;
  }
  .solutions-container{
    height:150vh;
  }
  .solutions-content-container{
    height: 130vh;
  }
  .title-container {
    width: 300px;
    height: 300px;
  }
  .home-content-container {
    flex-direction: column;
  }
  .solutions-container{
    height: 150vh;
  }
}

@media screen and (max-width: 630px) {  
  .solutions-sub-title{
    width: 90%;
  }
  .solutions-sub-title p{
    font-size: 10px;
    font-weight: 300;
  }
  .solutions-sub-title{
    width: 100%;
  }
  .protflio-title-container{
    height: 25vh;
    width:95%;
  }
  .protflio-sub-title p{
    font-size: 10px;
    font-weight: 300;
  }
  .protflio-container{
    height: 190vh;
  }
  .title h2 {
    font-size: 60px;
  }
  .sub-title p {
    text-align: center;
    font-size: 10px;
    color: #fff;
  }
  .nav {
    background: var(--primary-color--);
    position: fixed;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    clip-path: circle(100px at 100% -20%);
    -webkit-clip-path: circle(100px at 100% -20%);
    pointer-events: none;
    transition: 0.5s ease-out;
    z-index: 3;
  }
  .nav a {
    font-size: 17px;
  }
  .nav.open {
    clip-path: circle(1000px at 100% -10%);
    -webkit-clip-path: circle(1000px at 100% -10%);
    pointer-events: all;
    z-index: 5;
  }
  .hanburger {
    z-index: 99;
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  .line {
    width: 30px;
    margin-bottom: 5px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
  }
@media screen and (max-width: 550px){
  .service-container {
    height: 225vh;
  }
}
@media screen and (max-width: 400px) {
  .title h2 {
    font-size: 50px;
  }
  .image-container {
    width: 350px;
  }
}
