:root {
  --bg-color--: rgb(218, 36, 38);
  --bg-color2--: linear-gradient(
    90deg,
    rgba(218, 36, 38, 0.7707457983193278) 0%,
    rgba(10, 41, 195, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  position: relative;
}

/* home page  */

.home-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--bg-color--);
  background: var(--bg-color2--);
}
.header-container {
  width: 100%;
  height: 110px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  width: 20%;
  height: 100%;
  position: relative;
  display: block;
}
.logo {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  left: -120px;
  top: -140px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.logo img {
  position: absolute;
  right: 50px;
  bottom: 30px;
  width: 40%;
  height: 40%;
  object-fit: contain;
}
.nav-container {
  height: 100%;
  width: 60%;
}
.nav {
  width: 100%;
  height: 100%;
}
.nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.burger {
  display: none;
}
.hover-class {
  display: block;
  margin: 4px;
  width: 90px;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 20px;
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.hover-class:hover {
  background-color: #d81c20;
}
.nav-link a {
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.home-content-container {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title-container {
  width: 520px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-container h2 {
  font-size: 80px;
  margin-bottom: 10px;
  font-weight: 900;
  color: #ffff;
}
.title-container p {
  font-weight: 400;
  color: #fff;
  font-size: 13px;
  text-align: center;
  margin-left: 15px;
}
.image-container {
  width: 700px;
  height: 100%;
}
.image-container .image {
  width: 100%;
  height: 100%;
  position: relative;
}
.image img {
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}
@media screen and (max-width: 1030px) {
  .home-content-container {
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    height: 100%;
  }
  .title-container h2 {
    font-size: 100px;
  }
  .title-container p {
    font-size: 16px;
  }
  .nav-link {
    display: none;
  }
  .nav-container {
    position: relative;
  }
  .burger {
    display: block;
    flex: 2;
    position: absolute;
    right: 90px;
    top: 50px;
    background-color:red;
    width: 100%;
  }
  .burger img{
    position: absolute;
    right: 0;
    object-fit: contain;
    cursor: pointer;
    width: 75px;
  }
}
@media screen and (max-width:500px ){
  .title-container{
    width: 390px;
  }
  .title-container h2{
    font-size: 50px;
  }
  .title-container p{
    font-size: 10px;
  }
  .burger{
    right: 30px;
    top: 30px;
  }
  .burger img{
    width: 40px;

  }
}